/bin/
/zig-out/
/.zig-cache/
/.docs-tmp/
/zig-pkg/
/cmd/vex/zig-out/
/cmd/vex/.zig-cache/
/cmd/vex/zig-pkg/
/cmd/vex-web/test/node_modules/
/bundle/
*.log
mycart*
base/*/*.wasm
base/*/vex.zig
base/*/vex.h